@font-face {
  font-family: "iconfont"; /* Project id 3620685 */
  src: url('iconfont.woff2?t=1661914579142') format('woff2'),
       url('iconfont.woff?t=1661914579142') format('woff'),
       url('iconfont.ttf?t=1661914579142') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_up:before {
  content: "\e658";
}

.icon-arrow_left:before {
  content: "\e659";
}

.icon-arrow_down:before {
  content: "\e65a";
}

.icon-arrow_right:before {
  content: "\e65b";
}

.icon-benefits:before {
  content: "\e665";
}

